# Dépendances
node_modules/
package-lock.json

# Variables d'environnement
.env
.env.local
.env.production

# Base de données
database/*.db
database/*.db-journal

# Logs
logs/
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# memo
todo.md
